{% extends "admin/base_site.html" %}
{% load i18n static %}
<link rel ="stylesheet" href="{% static "polls/style.css" %}">
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li> <a href="{% url "detail" question.id %}">{{question.question_text}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p> No polls are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}